<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}{% endblock %}</title>
    {% block css %}{% endblock %}
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Fira+Code&family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <nav>
      <div class="navbar">
        <img
          id="logo-id"
          src="{{ url_for('static', filename='svg/anonymous.svg') }}"
          alt="Logo de Confesiones 851"
        />
        <h1>Confesiones 851</h1>
        <a class="navbar-page" href="{{ url_for('index') }}">Home</a>
        <a class="navbar-page" href="#about">About</a>
        <a class="navbar-page" href="#contact">Contact</a>
        <a id="logout-btn" href="{{ url_for('login') }}">Logout</a>
      </div>
    </nav>
  </body>
  <section class="main-container">
    {% block content %}{% endblock %} {% block javascript %}{% endblock %}
  </section>
</html>
