{% extends 'base.html' %}

{% block css %}
    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/confesiones.css') }}"
    />
{% endblock %}

{% block content %}    
<!-- confesiones -->
    <div class="conf-user">
        <h1>Escribe tu confesion!!!</h1>
        <form id="conf-form" action="" method="post">
            <textarea name="" id="conf-text-area" cols="30" rows="10"></textarea>
            <button type="button" id="submit-conf-btn">Enviar</button>
        </form>
        </div>
    <div id="conf-list">
        <div class="conf-container">
            <div class="conf-author">
                <img src="https://via.placeholder.com/75x75" alt="Placeholder Image">
                <p>John</p>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. In iaculis nunc sed augue lacus. Sed risus ultricies tristique nulla aliquet. Et ultrices neque ornare aenean euismod elementum nisi quis. Pretium quam vulputate dignissim suspendisse in est ante in. Dis parturient montes nascetur ridiculus mus mauris vitae ultricies. Sed adipiscing diam donec adipiscing. Lorem ipsum dolor sit amet consectetur adipiscing elit duis tristique. Risus pretium quam vulputate dignissim. Non enim praesent elementum facilisis. Leo in vitae turpis massa sed elementum.</p>
        </div>
        <div class="conf-container">
            <div class="conf-author">
                <img src="https://via.placeholder.com/75x75" alt="Placeholder Image">
                <p>John</p>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. In iaculis nunc sed augue lacus. Sed risus ultricies tristique nulla aliquet. Et ultrices neque ornare aenean euismod elementum nisi quis. Pretium quam vulputate dignissim suspendisse in est ante in. Dis parturient montes nascetur ridiculus mus mauris vitae ultricies. Sed adipiscing diam donec adipiscing. Lorem ipsum dolor sit amet consectetur adipiscing elit duis tristique. Risus pretium quam vulputate dignissim. Non enim praesent elementum facilisis. Leo in vitae turpis massa sed elementum.</p>
        </div>
        <div class="conf-container">
            <div class="conf-author">
                <img src="https://via.placeholder.com/75x75" alt="Placeholder Image">
                <p>John</p>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. In iaculis nunc sed augue lacus. Sed risus ultricies tristique nulla aliquet. Et ultrices neque ornare aenean euismod elementum nisi quis. Pretium quam vulputate dignissim suspendisse in est ante in. Dis parturient montes nascetur ridiculus mus mauris vitae ultricies. Sed adipiscing diam donec adipiscing. Lorem ipsum dolor sit amet consectetur adipiscing elit duis tristique. Risus pretium quam vulputate dignissim. Non enim praesent elementum facilisis. Leo in vitae turpis massa sed elementum.</p>
        </div>
    </div>
</div>
{% endblock content %}
{% block javascript %}
    <script lang="javascript" src="{{ url_for('static', filename='js/confesiones.js') }}"></script>
{% endblock %}
